/*header*/
header{position: absolute;width: 100%;left: 0;top: 0;padding-top: 40px;
    .addres{float: right;font-weight: 300;font-size: 16px;}
    .logo{padding-top: 10px;float: left;}
    nav{float: right;padding-top: 20px;
        li{display: inline-block;margin: 0 12px;
            &:last-child{margin-right: 0;}
            &:hover,.active{
                a{color: white;}
            }
            a{text-decoration: none;font-size: 15px;text-transform: uppercase;color: #282828;font-weight: 900;transition:all ease .2s;}
        }
    }
}
/*/header*/

/*top-section*/
.top-section{background: url('../images/top-blog-bg.jpg') center center no-repeat #fcfcfb;min-height: 1209px;padding-top: 268px;
    .mbox{}
    .aside{float: left;
        &.item-1{width: 47.6%;}
        &.item-2{width: 52.4%;padding-top: 14px;}
    }
    .kust{margin-top: -119px;margin-left: -72px;
        img{max-width: none;}
    }
    h1{font-size: 130px;color: #141414;text-transform: uppercase;font-family: 'Futura',sans-serif;font-weight: 500;line-height: 1;margin-left: -96px;display: block;letter-spacing: -1px;
        span{font-size: 25px;text-transform: uppercase;font-weight: 300;display: block;padding-left: 13.2%;letter-spacing: 3px;margin-top: -10px;}
    }
    .top-wrap{padding-top: 15px;}
    .subtitle{
        p{color: #000;}
        ul{padding-top: 5px;}
        li{position: relative;padding-left: 23px;color: #5c5c5c;padding-bottom: 3px;
            &:after{content: '';position: absolute;top: 5px;left: 7px;height: 5px;width: 5px;border-radius: 50%;background-color: #5c5c5c;}
        }
    }
    h2{font-weight: 700;color: #7b7b7b;font-size: 46px;text-transform: uppercase;padding-top: 8px;line-height: 43px;position: relative;margin-bottom: 81px;
        span{font-size: 18px;font-weight: 500;position: absolute;top: calc(100% - 7px);left: 0;}
    }
    .arrow-down{height: 33px;width: 33px;transform: rotate(45deg);border-bottom: 2px solid #000;border-right: 2px solid #000;cursor: pointer;}
}
/*/top-section*/

/*construction*/
.construction{position: relative;
    .title{color: #515151;
        &:first-child{margin-top: -19px;}
    }
    .first-ul{padding-top: 60px;padding-bottom: 59px;
        li{padding-left: 34px;padding-bottom: 3px;position: relative;
            &:after{content: '';position: absolute;top: 5px;left: 22px;height: 5px;width: 5px;border-radius: 50%;background-color: #5c5c5c;}
        }
    }
    .hr{border-color:#707070;border-bottom: none; }
    .hr + .title{padding-top: 55px;text-align: right;
        &:before{right: 0;transform: scale(-1,1);}
    }
    .items-wrap{padding-top: 59px;padding-bottom: 35px;
        .item{width: 45.8%;
            &.item-1{float: left;}
            &.item-2{float: right;}
        }
        .item-img{overflow: hidden;
            img{position: relative;left: 50%;transform: translateX(-50%);}
        }
        .item-title{font-size: 24px;color: #1c1c1c;padding: 17px 0px 17px;}
        .item-text{font-weight: 300;color: #555555;font-size: 18px;line-height: 21px;}
    }
}
/*/construction*/

.corner{height: 282px;position: absolute;bottom: calc(100% - 19px);left: 0;width: 100%;overflow: hidden;
    &.top-left{
        .corner-wrap{background-color: #fff;position: absolute;top: 138px;left: -50px;height: 100%;width: calc(100% + 100px);overflow: hidden;transform: rotate(8deg);
            &:after{position: absolute;top: -45px;left: 0;content: '';height: 250px;width: 593px;background: url('../images/letter-top-left.png') left top no-repeat;transform: rotate(-8deg);}
        }
    }
    &.bottom-right{top: 100%;z-index: 10;height: 205px;
        .corner-wrap{background-color: #fff;position: absolute;top: -82px;left: -50px;height: 100%;width: calc(100% + 100px);overflow: hidden;transform: rotate(5deg);
            &:after{position: absolute;bottom: -30px;right: 0;content: '';height: 227px;width: 464px;background: url('../images/letter-top.png') left top no-repeat;transform: rotate(-5deg);}
        }
    }
}