/*header*/
//html.desktop.fancybox-margin header.fixed{left: -9px;transition: none;}
header{position: absolute;width: 100%;left: 0;top: 0;padding-top: 40px;z-index: 7000;transition:all ease .2s;backface-visibility: hidden;
    &.fixed{position: fixed;background-color: rgba(20, 20, 20, 0.2);padding-top: 20px;
        .logo{padding-top: 0;padding-bottom: 8px;}
        nav{padding-top: 8px;}
    }
    .addres{float: right;font-weight: 300;font-size: 16px;transition:all ease .2s;
        &.reverse{color: white;}
    }
    .header-button{float: right;
        a{text-decoration: none;text-transform: uppercase;color: white;font-size: 14px;display: inline-block;border:1px solid white;border-radius: 23px;padding: 15px 27px;margin-top: -18px;margin-left: 20px;transition:all ease .2s;
            &:hover{background-color: #fff;color: #282828;}
        }
    }
    .logo{padding-top: 10px;float: left;transition:all ease .2s;
        &.reverse{
            svg{-webkit-filter: brightness(0) invert(1);filter: brightness(0) invert(1);}
        }
        svg{transition:all ease .2s;}
    }
    nav{float: right;padding-top: 20px;transition:all ease .2s;
        &.reverse{
            li a{color: white;}
        }
        li{display: inline-block;margin: 0 12px;
            &:last-child{margin-right: 0;}
            &:hover,.active{
                a{color: white;}
            }
            a{text-decoration: none;font-size: 15px;text-transform: uppercase;color: #282828;font-weight: 900;transition:all ease .2s;}
        }
    }
}
/*/header*/

/*top-section*/
.top-section{background: url('../images/top-blog-bg.jpg') center center no-repeat #fcfcfb;min-height: 1209px;padding-top: 268px;
    .mbox{}
    .aside{float: left;
        &.item-1{width: 47.6%;}
        &.item-2{width: 52.4%;padding-top: 14px;}
    }
    .kust{margin-top: -119px;margin-left: -72px;
        img{max-width: none;}
    }
    h1{font-size: 130px;color: #141414;text-transform: uppercase;font-family: 'Futura',sans-serif;font-weight: 500;line-height: 1;margin-left: -96px;display: block;letter-spacing: -1px;
        span{font-size: 25px;text-transform: uppercase;font-weight: 300;display: block;padding-left: 13.2%;letter-spacing: 3px;margin-top: -10px;}
    }
    .top-wrap{padding-top: 15px;}
    .subtitle{
        p{color: #000;}
        ul{padding-top: 5px;}
        li{position: relative;padding-left: 23px;color: #5c5c5c;padding-bottom: 3px;
            &:after{content: '';position: absolute;top: 5px;left: 7px;height: 5px;width: 5px;border-radius: 50%;background-color: #5c5c5c;}
        }
    }
    h2{font-weight: 700;color: #7b7b7b;font-size: 46px;text-transform: uppercase;padding-top: 8px;line-height: 43px;position: relative;margin-bottom: 81px;
        span{font-size: 18px;font-weight: 500;position: absolute;top: calc(100% - 7px);left: 0;}
    }
    .arrow-down{height: 33px;width: 33px;transform: rotate(45deg);border-bottom: 2px solid #000;border-right: 2px solid #000;cursor: pointer;animation: Arrow ease-out .5s infinite;position: relative;display: block;
        &:hover{animation-play-state:paused;}
    }
}
@keyframes Arrow{
    0%{top: 0px;}
    50%{top: 5px;}
    100%{top: 0px;}
}
/*/top-section*/

/*construction*/
.construction{position: relative;
    .title{color: #515151;
        &:first-child{margin-top: -19px;}
    }
    .first-ul{padding-top: 60px;padding-bottom: 59px;
        li{padding-left: 34px;padding-bottom: 3px;position: relative;
            &:after{content: '';position: absolute;top: 5px;left: 22px;height: 5px;width: 5px;border-radius: 50%;background-color: #5c5c5c;}
        }
    }
    .hr{border-color:#707070;border-bottom: none; }
    .hr + .title{padding-top: 55px;text-align: right;
        &:before{right: 0;transform: scale(-1,1);}
    }
    .items-wrap{padding-top: 59px;padding-bottom: 35px;
        .item{width: 45.8%;
            &.item-1{float: left;}
            &.item-2{float: right;}
        }
        .item-img{overflow: hidden;
            img{position: relative;left: 50%;transform: translateX(-50%);}
        }
        .item-title{font-size: 24px;color: #1c1c1c;padding: 17px 0px 17px;}
        .item-text{font-weight: 300;color: #555555;font-size: 18px;line-height: 21px;}
    }
}
/*/construction*/

.corner{height: 282px;position: absolute;bottom: calc(100% - 19px);left: 0;width: 100%;overflow: hidden;
    &.top-left{
        .corner-wrap{background-color: #fff;position: absolute;top: 138px;left: -50px;height: 100%;width: calc(100% + 100px);overflow: hidden;transform: rotate(8deg);
            &:after{position: absolute;top: -45px;left: 0;content: '';height: 250px;width: 593px;background: url('../images/letter-top-left.png') left top no-repeat;transform: rotate(-8deg);}
        }
    }
    &.bottom-right{top: 100%;z-index: 10;height: 205px;
        .corner-wrap{background-color: #fff;position: absolute;top: -82px;left: -50px;height: 100%;width: calc(100% + 100px);overflow: hidden;transform: rotate(5deg);
            &:after{position: absolute;bottom: -30px;right: 0;content: '';height: 227px;width: 464px;background: url('../images/letter-top.png') left top no-repeat;transform: rotate(-5deg);}
        }
    }
}

/*integration*/
.integration{display: flex;flex-direction:row;flex-wrap:wrap;position: relative;
    .corner.bottom-right{top: 0;height: 300px;
        .corner-wrap{transform: rotate(8.8deg);top: -153px;}
    }
    .item{width: 50%;overflow: hidden;
        &.item-1{position: relative;display: flex;flex-wrap:wrap;justify-content:center;align-items:center;background-color: #f6f6f6;
            img{}
        }
        &.item-2{display: flex;flex-wrap:wrap;justify-content:center;flex-direction: column;align-items:flex-start;background-color: #f6f6f6;padding-top: 100px;
            .item-wrap{max-width: 600px;padding-left: 40px;}
            .text{font-size: 18px;color: #9e9e9e;font-weight: 300;
                p{margin-bottom: 20px;}
            }
        }
    }
}
/*/integration*/

/*complectation*/
.complectation{position: relative;padding-top: 55px;padding-bottom: 95px;
    .title{
        sup{vertical-align: super;font-size: 20px;}
    }
    &:after{background-image: url(../images/letter-bot.png);width: 588px;height: 250px;top: 0;background-position: left top;background-repeat: no-repeat;content: '';display: block;position: absolute;right: 0;pointer-events:none;}
    .items-wrap{display: flex;flex-wrap:wrap;justify-content: space-between;padding-top: 51px;padding-bottom: 50px;
        .item{width: 300px;text-align: center;}
        .item-img{
            img{display: block;margin:0 auto;}
        }
        .item-text{font-size: 18px;color: #a6a6a6;padding-top: 22px;line-height: 21px;}
    }
}
/*/complectation*/

/*roskosh*/
.roskosh{position: relative;display: flex;flex-direction:row;flex-wrap:wrap;overflow: hidden;
    .corner{top: 0;z-index: 15;
        .corner-wrap{top: -150px;transform: rotate(-8deg);
            &:after{background: url("../images/letter-top.png") left top no-repeat;height: 227px;width: 464px;top: auto;bottom: 0;transform: scale(-1,1) rotate(0deg);}
        }
    }
    .title{position: relative;}
    .title:before{right: 0;transform: scale(-1,1);}
    .item{width: 50%;
        &.item-2{position: relative;display: flex;flex-wrap:wrap;justify-content:center;align-items:center;
            img{}
        }
        &.item-1{display: flex;flex-wrap:wrap;justify-content:center;flex-direction: column;align-items:flex-end;background-color: #f6f6f6;padding-top: 100px;text-align: right;
            .item-wrap{max-width: 570px;padding-right: 40px;}
            .text{font-size: 18px;color: #9e9e9e;font-weight: 300;
                p{margin-bottom: 20px;}
            }
        }
    }
}
/*/roskosh*/

/*contacts*/
.contacts{display: flex;flex-direction:row;flex-wrap:wrap;position: relative;
    .title{position: relative;
        &:before{width: 192px;height: 82px;top: -17px;background-position: right top;}
    }
    #map{height: 688px;width: 100%;}
    .corner.bottom-right{top: 0;height: 300px;
        .corner-wrap{transform: rotate(8.8deg);top: -153px;}
    }
    .item{width: 50%;
        &.item-1{position: relative;display: flex;flex-wrap:wrap;justify-content:center;align-items:center;}
        &.item-2{display: flex;flex-wrap:wrap;justify-content:center;flex-direction: column;align-items:flex-start;background-color: #f6f6f6;padding-top: 100px;
            .item-wrap{max-width: 600px;padding-left: 40px;}
            .text{font-size: 18px;color: #9e9e9e;font-weight: 300;
                p{margin-bottom: 20px;}
            }
        }
    }
}
/*/contacts*/

.fancybox-close{top: 18px;right: 11px;background:none;
    &:after,&:before{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(45deg);width: 25px;height: 2px;background-color: #000;content: '';opacity: .8;}
    &:before{transform: translate(-50%, -50%) rotate(-45deg);}
}
/*popupWrap*/
.popupWrap{
    .fancybox-skin{background-color: white;border-radius: 8px;}

}
#call-popup{width: 430px;margin:0 auto;outline: 1px solid red;border-radius: 8px;overflow: hidden;
    .contact-form-title{color: #141414;text-align: center;font-size: 25px;padding: 25px 0px 25px;border-bottom: 1px solid #cdcdcd;margin-bottom: 55px;}
    .input-wrap{max-width: 325px;width: 100%;padding: 0 10px 50px;margin:0 auto;}
    .form_row.error{
        input{border-color:red;
            &::-webkit-input-placeholder {color:red;}
            &:-moz-placeholder {color:red;}
            &::-moz-placeholder {color:red;}
            &:-ms-input-placeholder {color:red;}
        }
    }
    input{width: 100%;height: 40px;line-height: 40px;font-size: 16px;color: #000;padding-left: 10px;border-radius: 5px;border:1px solid #cdcdcd;
        &::-webkit-input-placeholder {color:#bdbdbd;}
        &:-moz-placeholder {color:#bdbdbd;}
        &::-moz-placeholder {color:#bdbdbd;}
        &:-ms-input-placeholder {color:#bdbdbd;}

    }
    .errorText{position: absolute;color: red;left: 50%;transform: translateX(-50%);top: 100%;width: 100%;text-align: center;}
    .form_input{position: relative;}
    .contact-form-item{margin-bottom: 20px;}
    .submit-button{
        .contact-form-item{margin-bottom: 0;}
        .contact-submit{width: 100%;background-color: #609e63;font-size: 16px;text-transform: uppercase;color: #fff;border:none;padding: 26px 0px;cursor: pointer;
            &:hover{background-color: #5CAD60;}
        }
    }
}
.call_success{text-align: center;padding: 10px;
    .call-title{font-size: 30px;margin-bottom: 10px;}
    .call-subtitle{font-size: 25px;margin-bottom: 10px;}
}
/*/popupWrap*/


// production
.production{
    .production-top{background:transparent url('../images/production-top-bg.jpg') center top no-repeat;background-size: cover;color: white;}
    .production-text{font-weight: 300;line-height: 1.3;}
    .production-wrap{min-height: 400px;padding-top: 50px;display: flex;flex-direction:column;align-items:flex-start;position: relative;}
    .production-tabs{position: absolute;bottom:0;left: 50%;transform: translateX(-50%);width: 100%;max-width: 930px;
        .tabs{display: flex;align-items:center;justify-content:center;
            .tab{width: 20%;text-align: center;padding: 20px 5px;border-top-left-radius: 15px;border-top-right-radius: 15px;cursor: pointer;
                &.active{background-color: #fff;color: black;}
            }
        }
    }
    .production-bottom-tabs{height: 700px;display: flex;align-items:center;justify-content:center;}

    .prod-wrap{display: flex;max-width: 840px;margin:0 auto;padding-top: 30px;
        .prod-left{display: flex;flex-wrap:wrap;width: 74%;
            .prod-item{width: 50%;}
        }
        .prod-right{width: 26%;
            .prod-item{}
        }
    }
}

// copy
.copy{position: absolute;left: 50%;bottom: 10px;transform: translateX(-50%);text-align: center;margin: 0 auto;
    a{color: white;text-decoration: none;
        &:hover{text-decoration: underline;}
    }
}
