/*phitomodule*/
    .phito-wrap{ background-image: url(../images/fito-bg.jpg); background-position: left top; background-repeat-y: repeat; position: relative;
        &:after,
        &:before{ background-position: left top; background-repeat: no-repeat; content:''; display: block; position: absolute; right:0; z-index: 50;}
        &:after{ background-image: url(../images/letter-bot.png);  width: 588px; height: 250px; bottom:-250px;}
        &:before{ background-image: url(../images/letter-top.png); width: 464px; height: 227px; top:-227px; }
        .phito-align{padding-top: 58px; padding-bottom: 69px;
            .content{
                .content-row{ margin-bottom: 40px;
                    .content-box{max-width: 50%; float:left;
                        &:nth-child(2){float:right;
                            .subbox:first-child{margin-bottom: 40px;}
                        }
                    }
                }
                .second-row{ margin-bottom: 40px;
                    .content-box{
                        &:nth-child(1){float:right; margin-bottom: 40px;}
                        &:nth-child(2){float:left;}
                        &:nth-child(3){float:right;
                            .subbox{float:left;
                                 &:nth-child(2){margin-left: 40px;}
                            }

                        }
                    }
                }
            }
        }
        .title{color:#fff; padding-bottom: 70px;}
    }

    .title{ padding-bottom: 37px; position: relative;

        &:before{ background-position: left top; background-repeat: no-repeat; content:''; display: block; position: absolute; background-image: url(../images/title.png);  width: 361px; height: 82px;}
        h2{font:500 36px/48px 'Futura';}
    }
/*END phitomodule*/
/*practical*/
    .practical{position: relative; overflow: hidden;
        &:after{ background-image: url(../images/letter-bot.png);  width: 588px; height: 250px; top:0;background-position: left top; background-repeat: no-repeat; content:''; display: block; position: absolute; left:0; transform:scale(-1,1);}
        .pract-wrap{}
        .pract-align{}
        .content{padding-top: 64px;}
        .row-one{text-align: right; border-bottom: 1px solid #000; margin-bottom: 54px;
            .title{
                &:before{transform:scale(-1, 1); right:0;}
            }
            .txt{font:300 18px/22px 'Futura';max-width: 920px;     display: inline-block; padding: 23px 0 93px;}
        }
        .row-two{
            .items{display: flex; justify-content:space-between; padding: 25px 0 130px;
                .item{background-position: center center; background-repeat: no-repeat;  width: 100%; max-width: 350px;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                    .item-align{ position: relative;display: flex; width: 100%; min-height: 311px;
                        .txt{ width: 260px; height: 234px; background-color: #fff; margin: 38.5px auto; text-align: center; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                            p{font:300 16px/20px 'Futura';
                                &:first-child{font:800 18px/22px 'Futura'; text-transform: uppercase; padding: 23px 0;}
                            }
                        }
                    }
                   &:nth-child(1){background-image: url(../images/pract1.jpg);}
                   &:nth-child(2){background-image: url(../images/pract2.jpg);}
                   &:nth-child(3){background-image: url(../images/pract3.jpg);}
                }
            }
        }
    }
/*END practical*/
/*construct-module*/
    .construct-module{position: relative;     padding: 56px 0 34px;
        &:after{ background-image: url(../images/letter-bot.png);  width: 588px; height: 190px; bottom:0;background-position: left bottom; background-repeat: no-repeat; content:''; display: block; position: absolute; left:0; transform:scale(-1,-1); z-index: 50;}
        .img{text-align: center; width: 100%;}
    }
/*END construct-module*/
/*office*/
    .office{position: relative;
        .office-align{    padding-top: 125px;}
        &:after{ background-image: url(../images/letter-bot.png);  width: 588px; height: 250px; top:0;background-position: left top; background-repeat: no-repeat; content:''; display: block; position: absolute; left:0; transform:scale(-1,1);}
        .sliderius{max-width: 878px; margin:16px auto;
            .one-slide{ display: flex; justify-content:center; width: 100%;
                .img{display: flex; width: 57%; height: 300px;
                    img{margin: auto;}
                }
                .txt{width: 43%; height: 300px; padding: 75px 30px 0 10px;
                    p{font:300 16px/19px 'Futura'; color: #737373;
                        &:first-child{font:500 20px/24px 'Futura'; color: #535353;}
                    }
                }
            }
            .slick-arrow{border-top: 1px solid #696969; border-right: 1px solid #696969; transform:rotate(45deg); height: 30px; width: 30px; top:calc(50% - 15px);
            }
            .slick-prev{transform:rotate(-135deg); left:-13px;}
            .slick-next {    right: -13px;}
            .slick-dots{
                li{ width: 10px; height: 10px;  padding: 0;
                    button{padding: 0; width: 10px; height: 10px; background-color: #fff; border:1px solid #000; border-radius: 50%; margin:0;
                        &:before{display: none;}
                    }
                    &.slick-active{button{background-color: #000;}}
                }
            }
        }
        .row-one{border-bottom: 1px solid #000;    padding-bottom: 131px;
            .title{text-align: right;
                &:before{transform:scale(-1, 1); right:0;}
            }
        }
        .row-two{padding-top: 57px;

            .content{display: flex; padding-top: 16px;
                .col{
                    img{margin-bottom: 10px;}
                }
            }
        }
    }
/*END office*/