/* title-right */

    .title{
        &.text-right{text-align: right;
            &:before{transform:scale(-1, 1);right:0;}
        }
    }

/* /title-right */

/* factory */

    .factory{position: relative;margin-top: -55px;
        .corner.top-left{bottom: calc(100% - 300px);height: 515px;
            .corner-wrap{top: 135px;transform:rotate(-8deg);}
        }
        .factory-top{padding-bottom: 60px;border-bottom: 1px solid #707070;margin-bottom: 53px;
            .title{display: flex;justify-content:flex-end;
                h2{max-width: 640px;width: 100%;}
            }
            .factory-text-wrap{display: flex;justify-content:flex-end;margin-bottom: 28px;margin-top: -5px;
                .factory-text{text-align: right;max-width: 900px;width: 100%;font-weight: 300;font-size: 18px;line-height: 22px;}
            }
            .factory-images-main{display: flex;justify-content:flex-end;padding: 0 5px;
                .factory-images{max-width: 1080px;margin: 0 -5px;
                    .factory-img-wrap{width: 33.33%;text-align: center;
                        &.float-left{float:left;}
                        &.float-right{float: right;}
                        &.factory-img-special{float: left;}
                        img{margin: 0 5px 10px 5px;max-width: calc(100% - 10px);}
                    }
                }
            }
        }
        .factory-bottom{
            .factory-main{display: flex;flex-wrap:wrap;padding-top: 32px;
                .factory-item{width: 33.33%;margin-bottom: 92px;
                    .factory-img{width: 85px;text-align: center;display: inline-block;vertical-align: middle;}
                    .factory-text{text-transform: uppercase;max-width: calc(100% - 185px);display: inline-block;vertical-align: middle;font-size: 14px;font-weight: 500;line-height: 20px;}
                    &:last-child{width: 44%;}
                }
            }
        }
    }

/* /factory */

/* interior */

    .interior{
        .interior-main{padding-top: 55px;border-top: 1px solid #000;}
        .title{
            &:before{background-image:url(../images/interior-title-bg.png);background-repeat: no-repeat;width: 160px;height: 73px;}
        }
        .interior-text{font-size: 18px;line-height:22px;font-weight: 300;color:#484848;padding-top: 20px;margin-bottom: 75px;}
        .interior-slider{padding:0 0px 30px 0px;
            .interior-slider-item{padding:0px 115px 20px 115px;
                .slider-list{border: 1px solid #e9e9e9;background-image:url(../images/slider-bg.png);background-repeat:no-repeat;background-position: right bottom;padding:35px 35px 45px 35px;box-shadow:0px 1px 2px 0 rgba(15, 15, 15, .35);min-height: 282px;
                    li{position: relative;padding-left: 20px;font-size: 18px;color:#969696;font-weight: 300;margin-bottom: 18px;text-shadow:0 0 0px #fff;
                        &:before{content:'';display: block;position: absolute;left:0;top:6px;width: 10px;height: 10px;border-radius: 50%;background-color:#7e9e4e;}
                        &:last-child{margin-bottom: 0;}
                    }
                }
            }
            .slick-arrow{width: 22px;height: 44px;background-image:url(../images/interior-arrow.png);font-size:0;color:transparent;z-index: 2;top:125px;transition:opacity 300ms ease;
                &:before{display: none;}
                &:hover{opacity: .5;}
            }
            .slick-prev{background-position: left top;left: 10px;}
            .slick-next{background-position: right top;right:10px;}
            .slick-dots{left:0;bottom:0;
                li{width: auto;height: auto;
                    button{padding:0;width: 10px;height: 10px;border:1px solid #000000;border-radius: 50%;
                        &:before{content:'';font-size: 0;color:transparent;width: 10px;height: 10px;border-radius:50%;position: absolute;left:calc(50% - 5px);top:calc(50% - 5px);display: block;background-color:#000;transform:scale(0);transition:transform 300ms ease;}
                    }
                    &.slick-active{
                        button{
                            &:before{transform:scale(1);}
                        }
                    }
                }
            }
        }
        .interior-images{display: flex;justify-content:space-between;margin-bottom: 20px;padding-top:30px;
            .interior-img{width: calc(50% - 20px);}
        }
    }

/* /interior */