/*header*/
header{position: absolute;width: 100%;left: 0;top: 0;}
/*/header*/

/*top-section*/
.top-section{background: url('../images/top-blog-bg.jpg') center center no-repeat #fcfcfb;min-height: 1220px;

}
/*/top-section*/