// exemple block
.exemple-wrap{ background-image: url(../images/exampleBG.jpg); padding: 365px 0 260px 0;
    .conteiner{width: 100%;
        .item-col{float: left; width: 50%; padding:0 15px 0 10px;
            .item{ padding-bottom: 60px;
                .img-conteiner{ margin-bottom: 22px;}
                .title-text{font-size: 24px; font-family: "Futura", sans-serif; color: rgb(255, 242, 136); font-weight: 700; line-height: 1.2;}
                .after-text{ font-size: 24px; font-family: "Futura", sans-serif; font-weight: 900;  color: rgb(255, 255, 255); line-height: 1.2;padding-top: 3px;}
                .compressed{ padding-top: 7px;
                    ul{font-size: 18px; font-family: "Futura", sans-serif; color: rgb(158, 158, 158); line-height: 1.2; font-weight: 300;
                        li{font-size: 18px; font-family: "Futura", sans-serif; color: rgb(212, 212, 212); line-height: 1.2;padding-left: 17px; position: relative;
                            &:after{content: ''; position: absolute; top:12px; left: 2px; width: 5px; height: 5px; border-radius: 50%; background-color: rgb(212, 212, 212);}
                            &:first-child{padding-top: 5px;
                                &:after{top: 15px;}
                            }
                        }
                    }
                }
            }
        }
        .fixer-for-pp{padding-left: 86px; padding-right: 0;}
    }
}


//-----------------------------
.wrap-asortiment{ background-image: url(../images/asortiment-bg.jpg); background-repeat: repeat-y; background-position: center center; padding: 61px 0 72px;
    .conteiner{
        .title-text{font-size: 36px; font-family: "Futura", sans-serif; font-weight: 500; color: rgb(93, 93, 93); line-height: 1.2; position: relative; z-index: 5; padding-bottom: 70px;
            &:after{content: ''; height: 75px; width: 220px; position: absolute; left: 0px; top: -5px; z-index: -1; background-image: url(../images/sm-title-bg.png);}
        }
        .content{ width: 100%;
            .item-plank{ width: 31%; float: left; margin: 0 calc(7%/6); box-shadow: 0px 1px 1px 0px rgba(6, 6, 6, 0.35); background-color: white;
                .top-part{ position: relative; overflow: hidden;
                    .slider-item{ height: 425px; margin-bottom: 0;
                        .si{ display: flex; align-items: center; vertical-align: middle;height: 425px;
                            img{margin: 0 auto; }
                        }
                    }
                }
                .slick-dots { bottom: 20px;
                    li button:before {content: ''; width: 10px; height: 10px; border-radius: 50%; border: 1px solid #b9b9b9; background-color: transparent; transition: all 0.3s;}
                    li.slick-active button:before{content: ''; background-color: #83d1c5; border: 1px solid #83d1c5;}
                }
                .bot-part{background-color: #545454; min-height: 185px; color: white;text-align: center; padding: 10px;
                    h5{font-size: 18px;font-family: "Futura", sans-serif; font-weight: 500;  line-height: 1.2; max-width: 320px; margin: 0 auto; padding-top: 32px; padding-bottom: 15px;}
                    p{font-size: 16px; font-family: "Futura", sans-serif; font-weight: 300; color: rgb(238, 238, 238);  line-height: 1.2; max-width: 320px; margin: 0 auto; padding-bottom: 5px;}
                }
            }
        }
    }
}

// -----------------------
.footer{ background-color: #1f1f1f; color: white;
    .conteiner{display: table; height: 240px; text-align: center; width: 100%;
        .convert{display: table-cell; width: 20%; vertical-align: middle;
            a{color: white; text-decoration: none; line-height: 30px; position: relative;
                &:after{content: ''; bottom: -2px; height: 2px; background-color: white; left: 0; right: 100%; position: absolute; transition: all 0.3s;}
                &:hover{
                    &:after{right: 0; }
                }
            }
            a.go-up{display: block; width: 20px; height: 20px; border-top: 1px solid white; border-right: 1px solid white; transform: rotate(-45deg); margin: 0 auto; cursor: pointer;
                &:after{content: ''; left: 100%;}
            }
        }
        .soc{text-transform: uppercase; width: 30%; line-height: 30px;
            a{padding: 0 10px;}
        }
        .big{width: 40%;text-transform: uppercase; line-height: 30px;}
    }
}

// phitomodule block

.phitomodule{
    .text-content{ font-size: 18px; font-family: "Futura", sans-serif; color: rgb(255, 254, 254);  line-height: 1.2; padding-bottom: 30px; font-weight: 300;}
    .convert{        
        .row-big, .row-small{display: flex; flex-wrap: wrap; align-content: space-around; justify-content: space-around; width: 100%;
            .item{ padding: 5px; width: 20%;
                a{position: relative; display: block; text-decoration: none;
                    &:hover{
                        .hovered-block{opacity: 1; }
                    }
                }
                .hovered-block{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(255,255,255,0.5); opacity: 0; transition: all 0.3s;
                    img{position: absolute; top: calc(50% - 16px); left: calc(50% - 16px);}
                }
            }
        }
        .row-big{
            .item{ width: calc(100%/3);}
        }
        
    }
}
