<div class="wrap-asortiment">
    <div class="mbox">
        <div class="conteiner">
            <div class="title-text">
                <h2>Асортимент</h2>
            </div>
            <div class="content cfix">
                <div class="item-plank ">
                    <div class="top-part">
                        <div class="slider-item">
                            <div class="si">
                                <img src="images/si11.jpg" alt="">
                            </div>
                            <div class="si">
                                <img src="images/si12.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="bot-part oneHeight2">
                        <h5>Каркас HF Rack</h5>
                        <p>Для мобильности и быстроты возведения фитомодуля HydroFalls мы рекомендуем использовать металлический каркас HF Rack. Стандартный каркас вмещает 6 модулей GB.</p>
                    </div>
                </div>
                <div class="item-plank">
                    <div class="top-part">
                        <div class="slider-item">
                            <div class="si">
                                <img src="images/si21.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="bot-part oneHeight2">
                        <h5>Дизайн модуля</h5>
                        <p>У вас есть возможность подобрать цвет модуля под ваш вкус.</p>
                    </div>
                </div>
                <div class="item-plank">
                    <div class="top-part">
                        <div class="slider-item">
                            <div class="si">
                                <img src="images/si31.jpg" alt="">
                            </div>
                            <div class="si">
                                <img src="images/si32.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="bot-part oneHeight2">
                        <h5>Удлинитель HF RackPart</h5>
                        <p>Удлинитель каркаса HF - Rack-part позволяет разместить дополнительно 3 модуля HF и увеличить высоту конструкции до 1,68 м. Максимально допустимая нагрузка на один каркас GB с удлинителями - 12 модулей (2,21 м)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>