<section class="complectation">
    <div class="mbox">
        <div class="title"><h2>Базовая комплектация 1 м2 фитостен Green Wall составляет:</h2></div>

        <div class="items-wrap">
            <div class="item scroll-anim">
                <div class="item-img"><img src="images/complectation-1.png" alt=""></div>
                <div class="item-text">
                    <p>Монтаж конструкции фитостены Green Wall (конструктивные элементы полочной фитосистемы)</p>
                </div>
            </div>
            <div class="item scroll-anim">
                <div class="item-img"><img src="images/complectation-2.png" alt=""></div>
                <div class="item-text">
                    <p>Монтаж системы автополива замкнутого типа   (насос, фильтр, трубопровод, фасонные изделия PP, емкость для воды PVC, таймер)</p>
                </div>
            </div>
            <div class="item scroll-anim">
                <div class="item-img"><img src="images/complectation-3.png" alt=""></div>
                <div class="item-text">
                    <p>Растения — расстановка растений согласно проекта фитостены   (плотность посадки ≈ 36 растений/1 м2)</p>
                </div>
            </div>
        </div>
    </div>
</section>