<section class="construction">
    <div class="corner top-left">
        <div class="corner-wrap"></div>
    </div>
    <div class="mbox">
        <div class="title"><h2>Полный цикл вертикального озеленения интерьеров:</h2></div>
        <div class="first-ul">
            <ul>
                <li><span>производство фитостен, фитомодулей и фитокартин </span></li>
                <li><span>установка и монтаж фитоконструкций </span></li>
                <li><span>сервисное обслуживание фитообъектов</span></li>
            </ul>
        </div>
        <hr class="hr">

        <div class="title">
            <h2>Типы конструкций:</h2>
        </div>
        <div class="items-wrap cfix">
            <div class="item item-1">
                <div class="item-wrap">
                    <div class="item-img">
                        <img src="images/construct-1.png" alt="">
                    </div>
                    <div class="item-title">
                        Фитостены
                    </div>
                    <div class="item-text">
                        <p>Долговечная стена из растений. Это максимум зелени на квадратный метр, без потери полезной площади. Инновационная технология вертикального сада впишется в любой интерьер. Фитостена - универсальное и стильное интерьерное решение для дома, офиса, торгового центра, спа-салона, медицинского учреждения, парикмахерской, салона красоты, ресторана, отеля, кафе, автосалона, фитнес клуба, частного жилья и других объектов. Фитостена - это премиальный и уютный интерьер, с минимальным уходом за растениями. Готовое решение под ваш интерьер.</p>
                    </div>
                </div>
            </div>
            <div class="item item-2">
                <div class="item-wrap">
                    <div class="item-img">
                        <img src="images/construct-2.png" alt="">
                    </div>
                    <div class="item-title">
                        Фитомодули
                    </div>
                    <div class="item-text">
                        <p>Фитомодуль - это мобильная фитостена, созданная специально для тех случаев, когда хочется озеленить уже отремонтированное и готовое помещение, не боясь испортить его отделку или использование на специальных мероприятиях типа выставки. Фитомодуль автономен, не требует подключения к водопроводу. Минимальный уход. В процессе эксплуатации, при желании, его можно переставить в другое место.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="corner bottom-right">
        <div class="corner-wrap"></div>
    </div>
</section>