<section class="contacts" id="contacts">
    <div class="corner bottom-right">
        <div class="corner-wrap"></div>
    </div>
    <div class="item item-1">
        <div id="map"></div>
    </div>
    <div class="item item-2">
        <div class="item-wrap">
            <div class="title"><h2>Контакты</h2></div>
            <div class="text">
                <p>Адрес: г. Калининград, улица генерала Озерова 17в офис 28 <br>
                    Телефон: 8 952 056 75 42
                </p>
                <p>Весь ассортимент  продукции Green Wall представлен в полном объеме с живыми растениями.</p>
            </div>
        </div>
    </div>
</section>