<section class="exemple">
    <div class="exemple-wrap">
        <div class="mbox">
            <div class="conteiner cfix">
                <div class="item-col">

                    <div class="item">
                        <div class="img-conteiner"><img src="images/exei1.jpg" alt=""></div>
                        <div class="content-item">
                            <div class="title-text">ФИТОСТЕНА - 4 х 2 метра (S = 8 м2)</div>
                            <div class="after-text">Цена: 35 000 ₽/1м2</div>
                            <div class="compressed">
                                <ul>Состав растений:
                                    <li>Антуриум (Anthúrium) — 15 %</li>
                                    <li>Филодендрон (Philodéndron) —50 %</li>
                                    <li>Фикус эластика (Ficus elastica) — 15 %</li>
                                    <li>Драцена Компакта (Dracena Fragrans Compacta) — 20 %</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="img-conteiner"><img src="images/exei2.jpg" alt=""></div>
                        <div class="content-item">
                            <div class="title-text">ФИТОСТЕНА - 1,5 х 3 метра ( S = 4,5 м2)</div>
                            <div class="after-text">Цена: 35 000 ₽/1 м2</div>
                            <div class="compressed">
                                <ul>Состав растений:
                                    <li>Филодендрон (Philodéndron) — 100%</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="item-col fixer-for-pp">

                    <div class="item">
                        <div class="img-conteiner"><img src="images/exei3.jpg" alt=""></div>
                        <div class="content-item">
                            <div class="title-text">ФИТОСТЕНА - 2 х 2 метра (S = 4 м2)</div>
                            <div class="after-text">Цена: 37 000 ₽/1 м2</div>
                            <div class="compressed">
                                <ul>Состав растений:
                                    <li>Антуриум (Anthúrium) — 20 %</li>
                                    <li>Филодендрон (Philodéndron) —50 %</li>
                                    <li>Фикус эластика (Ficus elastica) — 20 %</li>
                                    <li>Драцена Компакта (Dracena Fragrans Compacta) — 10 %</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="img-conteiner"><img src="images/exei4.jpg" alt=""></div>
                        <div class="content-item">
                            <div class="title-text">ФИТОСТЕНА - 3 х 1,5 метра (S = 4,5 м2)</div>
                            <div class="after-text">Цена: 37 000 ₽/1 м2</div>
                            <div class="compressed">
                                <ul>Состав растений:
                                    <li>Маранта (Maranta tricolor) — 15 %</li>
                                    <li>Сциндапсус (Epipremnum pinnatum Aureum) — 25%</li>
                                    <li>Сциндапсус (Epipremnum pinnatum Golden Pothos) — 25%</li>
                                    <li>Сциндапсус (Epipremnum pinnatum Marble Queen) — 15 %</li>
                                    <li>Драцена Компакта (Dracaena fragrans Compacta) —  20 %</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

