<section class="factory" id="factory">

    <div class="corner top-left">
        <div class="corner-wrap"></div>
    </div>

    <div class="factory-wrap">
        <div class="mbox">

            <div class="title text-right">
                <h2>Панели и картины из стабилизированного мха и растений</h2>
            </div>

            <div class="factory-text">Наша компания предлагает фитостены из стабилизированного мха. Стабилизированный мох не требует полива, его внешний вид не зависит от степени освещенности. Этому способствует уникальная технология, позволяющая заменить природный сок, специальным составом на основе глицерина. Необходимо соблюдать несколько простых правил обращения с такой стеной из мха: избегать попадания на мох воды, ​не пересушивать, не держать на морозе и под прямыми солнечными лучами. Идеальная влажность помещении - 50-60%. Срок службы зависит от условий эксплуатации. Стена из мха подлежит реставрации.</div>

            <div class="factory-images">
                <div class="factory-img-wrap">
                    <img src="images/factory-img1.jpg" alt="" />
                </div>
                <div class="factory-img-wrap">
                    <img src="images/factory-img2.jpg" alt="" />
                </div>
                <div class="factory-img-wrap">
                    <img src="images/factory-img3.jpg" alt="" />
                </div>
                <div class="factory-img-wrap">
                    <img src="images/factory-img4.jpg" alt="" />
                </div>
            </div>

            <hr class="hr" />

            <div class="title">
                <h2>Основные факторы определяющие стоимость фитостен</h2>
            </div>

            <div class="factory-main">

                <div class="factory-item">

                    <div class="factory-img">
                        <img src="images/factory-item-img1.png" alt="" />
                    </div>

                    <div class="factory-text">Площадь фитостены</div>

                </div>

                <div class="factory-item">

                    <div class="factory-img">
                        <img src="images/factory-item-img2.png" alt="" />
                    </div>

                    <div class="factory-text">Состав растений для вертикального озеленения</div>

                </div>

                <div class="factory-item">

                    <div class="factory-img">
                        <img src="images/factory-item-img3.png" alt="" />
                    </div>

                    <div class="factory-text">Внешняя отделка периметра конструкции фитостены</div>

                </div>

                <div class="factory-item">

                    <div class="factory-img">
                        <img src="images/factory-item-img4.png" alt="" />
                    </div>

                    <div class="factory-text">ФОРМА ФИТОСИСТЕМЫ</div>

                </div>

                <div class="factory-item">

                    <div class="factory-img">
                        <img src="images/factory-item-img5.png" alt="" />
                    </div>

                    <div class="factory-text">Количество растений на 1 м2 и размер</div>

                </div>

                <div class="factory-item">

                    <div class="factory-img">
                        <img src="images/factory-item-img6.png" alt="" />
                    </div>

                    <div class="factory-text">Дополнительное освещение</div>

                </div>

                <div class="factory-item">

                    <div class="factory-img">
                        <img src="images/factory-item-img7.png" alt="" />
                    </div>

                    <div class="factory-text">Конструктивные особенности и состав системы автополива и водоотведения </div>

                </div>

            </div>

        </div>
    </div>

    <div class="corner bottom-right">
        <div class="corner-wrap"></div>
    </div>

</section>