<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
        <div class="conteiner ">
            <div class="convert big">
                <p>© 2016 ZelenoeSolnce.ru. Все права защищены</p>
            </div>
            <div class="convert soc">
                <a href="">VKONTAKTE</a>
                <a href="">Twitter</a>
                <a href="">Facebook</a>
            </div>
            <div class="convert">
                <a href="mailto:mail@zelenoesolnce.ru">mail@zelenoesolnce.ru</a>
            </div>
            <div class="convert">
                <a class="go-up"></a>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
