<section class="integration">
    <div class="corner bottom-right">
        <div class="corner-wrap"></div>
    </div>
    <div class="item item-1">
        <img src="images/integration-img.jpg" alt="">
    </div>
    <div class="item item-2">
        <div class="item-wrap">
            <div class="title"><h2>Интеграция фитостен в интерьер</h2></div>
            <div class="text">
                <p>Модные дизайнеры интерьеров постоянно удивляют своих заказчиков оригинальными решениями, ультрасовременными материалами и новыми трендами в оформлении интерьеров. Одной из таких тенденций является использование фитостен и вертикальных садов.</p>
                <p>Этот элемент интерьера представляет собой сложную вертикальную систему, при инсталляции которой, может использоваться большое разнообразие видов и сортов растений. От привычных нам филодендрона, сциндапсуса и спатифиллума до уникальных тропических растений.</p>
                <p>Вертикальное озеленение успешно применялось ещё в прошлые века и снова вошло в моду несколько десятков лет назад. Сегодня колоритные фитостены и вертикальные сады из тропических растений используют как для декорирования стен, так и для зонирования помещений. Это могут быть колонны, кубы и различного вида фитомодули из растений, эффектно разделяющие просторный офис, торговый зал магазина или холл гостиницы на несколько независимых зон.</p>
            </div>
        </div>
    </div>
</section>