<section class="interior">
    <div class="mbox">

        <div class="interior-main">
            <div class="title">
                <h2>Интерьер</h2>
            </div>

            <div class="interior-wrap">

                <div class="interior-text">
                    <p>Внутреннее благородство – обязательное условие для полноценной жизни. Философия дизайна</p>
                    <p>интерьера очевидна: давать ощущение удовольствия, равновесия, стабильности. Палитра современных отделочных материалов создаёт чувство вседозволенности. Да! Всё возможно, если руководствоваться умом, вкусом и чувством меры. Секрет удачного проекта прост – взаимное доверие и понимание клиента и исполнителя.</p>
                </div>

                <div class="interior-slider">
                    <div class="interior-slider-item">
                        <div class="slider-list">
                            <ul>
                                <li>трехмерную (3D) фотореалистичную визуализацию интерьера всех помещений</li>
                                <li>планировочное решение (с экспликацией помещений и расстановкой мебели)</li>
                                <li>план демонтируемых перегородок</li>
                                <li>план монтируемых перегородок (дополнительные чертежи, показывающие в разрезе монтаж сложных конструкций, при необходимости указываются используемые материалы)</li>
                                <li>план расположения дверей/проемов с указанием типов и размеров</li>
                            </ul>
                        </div>
                    </div>
                    <div class="interior-slider-item">
                        <div class="slider-list">
                            <ul>
                                <li>планы теплых полов (размещение электрического подогрева полов и терморегуляторов)</li>
                                <li>планы полов (отметки уровней, типы напольных покрытий)</li>
                                <li>планы потолков (разрезы, сечения с указанием размерови высот их монтажа и мест расположения осветительных приборов, при необходимости)</li>
                                <li>план расположения оборудования</li>
                                <li>план расположения источников освещения</li>
                            </ul>
                        </div>
                    </div>
                    <div class="interior-slider-item">
                        <div class="slider-list">
                            <ul>
                                <li>план расположения выключателей (с привязкой к освещению)</li>
                                <li>план расположения розеток</li>
                                <li>развертки стен с расположением розеток</li>
                                <li>развертки стен с нишами и декоративными элементами</li>
                                <li>план/схема системы кондиционирования</li>
                            </ul>
                        </div>
                    </div>
                    <div class="interior-slider-item">
                        <div class="slider-list">
                            <ul>
                                <li>обмерочный чертеж (с привязкой инженерных коммуникаций)</li>
                                <li>развертки и раскладки стен санузлов</li>
                                <li>развертки и раскладки стен ванных комнат</li>
                                <li>развертки стен с указанием типов настенных покрытий (при необходимости)</li>
                                <li>ведомость отделки помещений (список отделочных материалов, мебели, осветительного оборудования и прочих элементов с указанием стоимости и объема)</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="interior-images">
                    <div class="interior-img scroll-anim">
                        <img src="images/interior-img1.jpg" alt="" />
                    </div>
                    <div class="interior-img scroll-anim">
                        <img src="images/interior-img2.jpg" alt="" />
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>