<section id="office" class="office">
    <div class="office-wrap">
        <div class="office-align mbox">
            <div class="row-one">
                <div class="title">
                    <h2>Особенности</h2>
                </div>
                <div class="sliderius scroll-anim">
                    <div class="one-slide">
                        <div class="img"><img src="images/slid1.jpg" alt=""></div>
                        <div class="txt">
                            <p>Дренажная заглушка</p>
                            <p>При эксплуатации модуля HF на улице необходимо извлечь дренажную заглушку для предотвращения переполнения модуля дождевой водой.</p>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="img"><img src="images/slid2.jpg" alt=""></div>
                        <div class="txt">
                            <p>Система распределения воды</p>
                            <p>Интегрированная система полива модуля HF устроена таким образом, что способна равномерно распределять воду по всем модулям разных уровней.</p>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="img"><img src="images/slid3.jpg" alt=""></div>
                        <div class="txt">
                            <p>Индикатор уровня воды</p>
                            <p>Индикатор показывает соответствующий уровень воды в модуле. Поплавок индикатора на отметке FULL указывает на максимальное заполнение водой</p>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="img"><img src="images/slid4.jpg" alt=""></div>
                        <div class="txt">
                            <p>Система орошения</p>
                            <p>Извлеките заглушку, расположенную на верхней части крышки, и аккуратно заполните модуль водой. (Приблизительный вес модуля HF с растениями, заполненного водой - 6,8 кг. Объем воды - 0,8 л.)</p>
                        </div>
                    </div>
                    <div class="one-slide">
                        <div class="img"><img src="images/slid5.jpg" alt=""></div>
                        <div class="txt">
                            <p>Варианты совмещения модулей HydroFalls</p>
                            <p>Конструктивные особенности модулей HF позволяют быстро возводить фитостены большой площади. Модули HF могу быть установлены индивидуально, а также совмещены друг с другом горизонтально и вертикально.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-two">
                <div class="title">
                    <h2>Наш офис</h2>
                </div>
                <div class="content">
                    <div class="col">
                        <img src="images/col1-1.jpg" alt="" class="scroll-anim">
                        <img src="images/col1-2.jpg" alt="" class="scroll-anim">
                    </div>
                    <div class="col">
                        <img src="images/col2-1.jpg" alt="" class="scroll-anim">
                        <img src="images/col2-2.jpg" alt="" class="scroll-anim">
                    </div>
                    <div class="col">
                        <img src="images/col3-1.jpg" alt="" class="scroll-anim">
                        <img src="images/col3-2.jpg" alt="" class="scroll-anim">
                    </div>
                    <div class="col">
                        <img src="images/col4-1.jpg" alt="" class="scroll-anim">
                        <img src="images/col4-2.jpg" alt="" class="scroll-anim">
                    </div>
                </div>
            </div>
        </div>
        <div class="corner bottom-right">
                <div class="corner-wrap"></div>
        </div>
    </div>
</section>