<section class="phitomodule" id="phitomodule">
    <div class="phito-wrap">
        <div class="phito-align mbox">
            <div class="title">
                <h2>Интерьер</h2>
            </div>
            <div class="content">
                <div class="text-content">
                    <p>Внутреннее благородство – обязательное условие для полноценной жизни. Философия дизайна интерьера очевидна:
                        давать ощущение удовольствия, равновесия, стабильности. Палитра современных отделочных материалов
                        создаёт чувство вседозволенности. Да! Всё возможно, если руководствоваться умом, вкусом и чувством
                        меры. Секрет удачного проекта прост – взаимное доверие и понимание клиента и исполнителя</p>
                </div>
                <div class="convert">
                    <div class="row-small">
                        <div class="item">
                            <a href="images/item1.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item1.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-1.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item2.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item2.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-1.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item3.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item3.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-1.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item4.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item4.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-1.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item5.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item5.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-1.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item6.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item6.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-1.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item7.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item7.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-1.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item8.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item8.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-1.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item9.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item9.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-1.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item10.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item10.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-1.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row-big">
                        <div class="item">
                            <a href="images/item-big-1.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item-big-1.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-2.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item-big-2.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item-big-2.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-2.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/item-big-3.jpg" class="fancybox-button" rel="fancybox-button">
                                <img src="images/item-big-3.jpg" alt="">
                                <div class="hovered-block">
                                    <img src="images/lupa-2.png" alt="">
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>