<section class="practical" id="practical">
    <div class="pract-wrap">
        <div class="pract-align mbox">
            <div class="content">
                <div class="row-one">
                    <div class="title">
                        <h2>Практичный фитодизайн</h2>
                    </div>
                    <div class="txt">
                        <p>К тому же, фитостены и другие элементы фитодизайна позволяют скрыть некоторые конструктивные особенности помещения или его планировки, указывая при этом на великолепный вкус и безупречный стиль владельца помещения. Одним из лучших конструктивных решений для инсталляции фитостен и вертикальных садов на сегодняшний день, является система Green Wall. Которая позволяет в короткие сроки возводить живые стены большой площади, появилась уникальная возможность монтировать вертикальные сады на колоннах и внешних углах стен.</p>
                        <br>
                        <p>Элементы фитодизайна уместны не только внутри офиса или квартиры. Создать яркий вертикальный сад сегодня можно на любой внешней стене здания. Доказательством этого может служить большое количество живых стен в Сингапуре и у законодателей мод вертикального озеленения французов.</p>
                        <br>
                        <p>Вы можете заказать роскошную фитостену для своего офиса, клуба или дома у нас, внести частичку природы  при помощи вертикальных садов от компании Green Wall. Подарите свою любовь растениям, чтобы хорошее настроение и благополучие стали постоянными спутниками Вашей жизни.</p>

                    </div>
                </div>
                <div class="row-two">
                    <div class="title">
                        <h2>Приемущества</h2>
                    </div>
                    <div class="items">
                        <div class="item scroll-anim">
                            <div class="item-align">
                               <!--  <div class="img">
                                   <img src="images/pract1.jpg" alt="">
                               </div> -->
                                <div class="txt">
                                    <p>Автоматический полив</p>
                                    <p>Наши стены не требуют подключения к системам подачи воды.Вода заливается в бак один раз в неделю/месяц, а автоматический таймер регулирует ежедневный полив растений.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item scroll-anim">
                            <div class="item-align">
                                <!-- <div class="img">
                                    <img src="images/pract2.jpg" alt="">
                                </div> -->
                                <div class="txt">
                                    <p>Конструкция из ПВХ</p>
                                    <p>Наши конструкции абсолютно герметичны, и благодаря тому, что они изготовлены из высококачественного ПВХ (а не из войлока, либо фетра) растения не врастают в них, и при необходимости, легко извлекаются.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item scroll-anim">
                            <div class="item-align">
                               <!--  <div class="img">
                                   <img src="images/pract3.jpg" alt="">
                               </div> -->
                                <div class="txt">
                                    <p>Цельная конструкция</p>
                                    <p>Все готово к засадке растений. Поставляется в собранном виде. Она автономна и мобильна.Требуется лишь подключение к электричеству.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>