<section class="production" >
    <div class="production-top">
        <div class="mbox">
            <div class="production-wrap">
                <div class="title" id="production">
                    <h2>Продукция</h2>
                </div>
                <div class="production-text">
                    <p>В наших фитомодулях при высадке растений используется мох сфагнум в качестве субстрата, то есть никакой земли и никаких массивных горшков, всё очень просто, эффективно, а главное, красиво! Мох сфагнум впитывает воду и удерживает ее длительное время, а также препятствует образованию бактерий и грибков в ячейках фитостены. </p>
                    <p>Так как фитостена – это полностью автоматический модуль, который самостоятельно следит за состоянием грунта и поливает ячейки только тогда, когда это нужно, то ухаживать за растениями практически не нужно. Необходимо лишь следить, чтобы в резервуаре постоянно была вода.</p>
                </div>
                <div class="production-tabs">
                    <div class="tabs">
                        <span class="tab">Фитокартина</span>
                        <span class="tab">Фитомодуль</span>
                        <span class="tab">Зеленая стена</span>
                        <span class="tab">Принцип полива</span>
                        <span class="tab">Фото</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="production-bottom mbox">
        <div class="production-bottom-tabs tabContent">
            <div class="tabItem"><img src="images/production-bottom-1.jpg" alt=""></div>
            <div class="tabItem"><img src="images/production-bottom-2.jpg" alt=""></div>
            <div class="tabItem"><img src="images/production-bottom-3.jpg" alt=""></div>
            <div class="tabItem"><img src="images/production-bottom-4.jpg" alt=""></div>
            <div class="tabItem">
                <div class="prod-wrap">
                    <div class="prod-left">
                        <div class="prod-item"><img src="images/prod-item-img-1.jpg" alt=""></div>
                        <div class="prod-item"><img src="images/prod-item-img-2.jpg" alt=""></div>
                        <div class="prod-item"><img src="images/prod-item-img-3.jpg" alt=""></div>
                        <div class="prod-item"><img src="images/prod-item-img-4.jpg" alt=""></div>
                    </div>
                    <div class="prod-right">
                        <div class="prod-item"><img src="images/prod-item-img-5.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>