<section class="roskosh">
    <div class="corner top-left">
        <div class="corner-wrap"></div>
    </div>

    <div class="item item-1">
        <div class="item-wrap">
            <div class="title"><h2>Экологичная роскошь любого интерьера</h2></div>
            <div class="text">
                <p>Популярность фитостен и вертикальных садов легко объяснима. В отличие от декоративных покрытий для стен, ярких красок, долговечных пластиковых панелей и других вариантов отделки, фитостена и вертикальный сад из живых растений не только создает в помещении роскошный интерьер, но и заметно улучшает микроклимат.</p>
                <p>Растения фитостен насыщают воздух кислородом, поглощают выделяемые бытовыми приборами и различными синтетическими материалами вредные вещества, пыль и аллергены, способствуют повышению влажности в помещении. У работающего по соседству с таким зелёным декором человека повышается работоспособность и настроение.</p>
                <p>Еще одним плюсом фитостен и вертикальных садов можно считать теплоизоляционные свойства. Зимой живая стена служит дополнительным </p>
            </div>
        </div>
    </div>
    <div class="item item-2">
        <img src="images/roskosh-img.jpg" alt="">
    </div>
</section>