<section class="top-section" id="top-section">
    <div class="mbox">
        <div class="aside item-1">
            <div class="kust"><img src="images/kust.png" alt=""></div>
        </div>
        <div class="aside item-2">
            <h1>
                GREEN WALL
                <span>ВЕРТИКАЛЬНОЕ ОЗЕЛЕНЕНИЕ. ФИТОДИЗАЙН</span>
            </h1>
            <div class="top-wrap">
                <div class="subtitle">
                    <p>Компания «Green Wall» предлагает оригинальные и стильные фитоконструкции для:</p>
                    <ul>
                        <li><span>квартир и загородных домов,</span></li>
                        <li><span>кафе и ресторанов,</span></li>
                        <li><span>крупных торговых центров и фирменных бутиков,</span></li>
                        <li><span>офисов и банков,</span></li>
                        <li><span>учебных заведений,</span></li>
                        <li><span>отелей и домов отдыха,</span></li>
                        <li><span>спортзалов и бассейнов.</span></li>
                    </ul>
                </div>
                <h2>
                    Фитостена под ключ <br>
                    всего от 25 тысяч рублей
                    <span>освещение не включено в стоимость</span>
                </h2>
                <a class="arrow-down" href="#construction"></a>
            </div>
        </div>
    </div>
</section>