@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    .phitomodule .convert .row-small .item { width: 25%; max-width: 228px; }
    .phitomodule .convert .row-big .item { width: 50%; max-width: 390px; }
}
@media screen and (max-width: 992px){
    .wrap-asortiment .conteiner .content .item-plank { width: 100%; margin: 0 auto 30px; max-width: 400px;  float: none;}
    .exemple-wrap{padding: 121px 0 60px 0;}
}
@media screen and (max-width: 767px){
    .exemple-wrap .conteiner .item-col {float: none; width: 100%; max-width: 450px; margin: 0 auto; width: 100%; padding-left: 0; padding-right: 0;}
    .footer .conteiner {display: flex; flex-wrap:wrap;  align-content: space-around ;
        .convert{width: 100% !important; display: block; }
    }
    
    .phitomodule .convert .row-small .item { width: 50%; max-width: 228px; }

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}