@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    /*integration*/
    .integration{
        .corner.bottom-right{height: 258px;
        }
        .item{
            &.item-2{
                .item-wrap{padding-top: 100px;}
            }
        }
    }
    /*/integration*/

    /*contacts*/
    .contacts{
        #map{height: 550px;}
        .corner.bottom-right{height: 258px;
        }
    }
    /*/contacts*/
}
@media screen and (max-width: 1280px){
    /*top-section*/
    .top-section{min-height: 1060px;
        .kust img{max-width: 100%;}
        h1{font-size: 104px;}
        h2{line-height: 39px;font-size: 39px;}
    }
    /*/top-section*/

    /*complectation*/
    .complectation{
        .title{max-width: 60%;}    }
    /*/complectation*/

    /*roskosh*/
    .roskosh{
        .item{
            &.item-1{
                .item-wrap{    padding-top: 133px;}
            }
        }
    }
    /*/roskosh*/
}
@media screen and (max-width: 1024px){
    /*corner*/
    .corner{
        &.top-left{pointer-events:none;
            .corner-wrap{
                &:after{height: 210px;width: 504px;background-size: cover;}
            }
        }
        &.bottom-right{pointer-events:none;
            .corner-wrap{
                &:after{height: 192px;background-size: cover;}
            }
        }
    }
    /*/corner*/

    /*integration*/
    .integration{
        .corner.bottom-right{height: 258px;
        }
        .item{
            &.item-2{
                .item-wrap{padding-top: 75px;}
            }
        }
    }
    /*/integration*/

    /*complectation*/
    .complectation{padding-bottom: 50px;
        &:after{display: none;}
        .title{max-width: 100%;}
        .items-wrap{justify-content: center;
            .item{padding-bottom: 20px;}
        }

    }
    /*/complectation*/

    /*roskosh*/
    .roskosh{
        .corner{
            .corner-wrap{transform: rotate(-5deg);
            }
        }
        .item{
            &.item-2{background-color: #f6f6f6;}
            &.item-1{
                .item-wrap{padding-top: 95px;}
            }
        }
    }
    /*/roskosh*/
}
@media screen and (max-width: 992px){
    /*top-section*/
    .top-section{padding-top: 105px;background: #E8E1DB;padding-bottom: 30px;
        .kust{margin-top: 0;margin-left: 0px;text-align: center;
            img{display: inline-block;}
        }
         .aside{float: none;
            &.item-1{width: 100%;}
            &.item-2{width: 100%;}
         }
        h1{text-align: center;margin-left: 0;
            span{padding-left: 0;}
        }
        h2{text-align: center;line-height: 30px;font-size: 30px;margin-bottom: 57px;
            span{transform: translateX(-50%);left: 50%;}
        }
        .subtitle{padding: 0 5%;}
        .arrow-down{margin:0 auto;}
    }
    /*/top-section*/

    /*corner*/
    .corner{position: relative;height: 78px;
        &.top-left{
            .corner-wrap{display: none;
                &:after{}
            }
        }
        &.bottom-right{pointer-events:none;height: 68px;
            .corner-wrap{display: none;
            }
        }
    }
    /*/corner*/

    /*integration*/
    .integration{
        .corner.bottom-right{display: none;}
        .item{width: 100%;
            &.item-1{max-height: 600px;overflow: hidden;align-items: flex-end;}
            &.item-2{padding-top: 35px;padding-bottom: 30px;
                .item-wrap{padding-top: 0px;padding-left: 0;max-width: 100%;padding: 0 10px;}
            }
        }
    }
    /*/integration*/

    /*roskosh*/
    .roskosh{flex-direction: column-reverse;padding-bottom: 20px;
        .corner{display: none;}
        .title:before{}
        .item{width: 100%;
            &.item-2{max-height: 500px;overflow: hidden;
            }
            &.item-1{padding-top: 0;padding-bottom: 20px;
                .item-wrap{padding-top: 0;max-width: 100%;}
            }
        }
    }
    /*/roskosh*/

    /*contacts*/
    .contacts{
        #map{height: 550px;}
        .corner{display: none;}
        .item.item-2{padding-top: 0;}
    }
    /*/contacts*/
}
@media screen and (max-width: 767px){

    // production
    .production .production-bottom-tabs{height: auto;padding: 50px 0px;}
    .production .production-tabs .tabs{align-items: flex-end;}
    .production .production-wrap{justify-content: space-around;}
    .production .production-tabs{position: static;transform:none;}
    .production .prod-wrap{max-width: 550px;}
    .production .prod-wrap .prod-left .prod-item{padding-right: 10px;}
    .production .prod-wrap .prod-left{    width: 80%;}

    .production .production-tabs .tabs{    flex-direction: column;padding: 10px 0px;}
    .production .production-tabs .tabs .tab{    width: 100%;border-radius: 15px;}

    // copy
    .copy{position: static;transform: none;}
}
@media screen and (max-width: 666px){
    /*top-section*/
    .top-section{padding-top: 40px;
        h1{font-size: 60px;
            span{margin-top: 0px;font-size: 19px;}
        }
        h2{line-height: 25px;font-size: 24px;
            span{font-size: 16px;top: calc(100% - -4px);line-height: 1;}
        }
    }
    /*/top-section*/

    /*header*/
    header{padding-top: 20px;background: #E8E1DB;position: relative;
        .row{text-align: center;}
        .header-button{float: none;margin-bottom: 15px;
            a{margin-top: 0;margin-left: 0;}
        }
        .addres{float: none;}
        .logo{float: none;}
        nav{float: none;
            li{margin: 0 10px 5px;}
        }
    }
    /*/header*/

    /*construction*/
    .construction{
        .title{padding-bottom: 12px;
            h2{line-height: 36px;}
        }
        .first-ul{padding-top: 20px;padding-bottom: 30px;
        }
        .hr + .title{padding-top: 31px;
        }
        .items-wrap{
            .item{float: none;width: 100%;margin-bottom: 30px;
            }
        }
    }
    /*/construction*/

    /*integration*/
    .integration{
        .item{
            &.item-1{max-height: 450px;}
            &.item-2{padding-top: 35px;padding-bottom: 30px;
                .item-wrap{padding-top: 0px;padding-left: 0;max-width: 100%;padding: 0 10px;}
            }
        }
    }
    /*/integration*/

    /*contacts*/
    .contacts{
        #map{height: 300px;}
        .corner.bottom-right{
            .corner-wrap{}
        }
        .item{width: 100%;
            &.item-1{}
            &.item-2{
                .item-wrap{max-width: 100%;padding: 0 10px;}
                .title{padding-top: 15px;}
            }
        }
    }
    /*/contacts*/

    #call-popup{width: auto;min-width: 320px;}
}
@media screen and (max-width: 479px){
    /*top-section*/
    .top-section{min-height: 990px; }
    /*/top-section*/

    /*construction*/
    .construction{
        .title{text-align: center;}
        .items-wrap{padding-top: 30px;padding-bottom: 0;
            .item{
                &.item-2{margin-bottom: 0;}
            }
        }
    }
    /*/construction*/

    /*corner*/
    .corner{height: 78px;
        &.bottom-right{height: 68px;}
    }
    /*/corner*/

    /*integration*/
    .integration{
        .item{
            &.item-1{max-height: 280px;}
            &.item-2{padding-top: 35px;padding-bottom: 30px;
                .title{padding-bottom: 25px;}
            }
        }
    }
    /*/integration*/

    /*complectation*/
    .complectation{padding-bottom: 30px;padding-bottom: 30px;
        .items-wrap{padding-top: 10px;}
    }
    /*/complectation*/

    /*roskosh*/
    .roskosh{
        .title{padding-bottom: 10px;padding-top: 10px;}
        .item{
            &.item-2{max-height: 250px;}
            &.item-1{padding-top: 0;padding-bottom: 20px;
                .item-wrap{max-width: 100%;padding: 0 10px;text-align: left;}
            }
        }
    }
    /*/roskosh*/

    #call-popup{width: auto;min-width: auto;}
}
@media screen and (max-width: 320px){

}