@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1210px){
    /*phitomodule*/
        .phito-wrap{
             &:after,
            &:before{display: none;}
            .phito-align{
                .content{
                   .content-row{ margin-bottom: 0;
                        .content-box{max-width: 100%; float:none; margin-bottom: 20px; text-align: center; width: 100%;
                            &:nth-child(2){
                                .subbox{ margin:0 auto;
                                    &:first-child{margin-bottom: 20px;}
                                }
                            }
                        }
                    }
                    .second-row{ margin-bottom: 20px;
                        .content-box{ text-align: center;
                            &:nth-child(1){float:none; max-width: 100%;  }
                            &:nth-child(2){float:none; margin-bottom: 20px;}
                            &:nth-child(3){float:none;
                                .subbox{float:none;  max-width: 100%;
                                     &:nth-child(1){margin-bottom: 20px;}
                                     &:nth-child(2){margin-left: 0;}
                                }

                            }
                        }
                    }
                }
            }
        }

    /*END phitomodule*/
    /*practical*/
    .practical{
        &:after{ display: none;}

    }
    /*END practical*/
}
@media screen and (max-width: 992px){
/*practical*/
    .practical{
        .row-two{
            .items{ flex-direction:column;
                .item{  margin:20px auto;
                }
            }
        }
    }
/*END practical*/
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){
    .title{text-align: center;
       h2{font:500 31px/40px 'Futura';}
       &:before{display: none;}
    }
    /*practical*/
        .practical{
            .row-one{
                .txt{text-align: center; padding: 23px 0 23px;}
            }
            .row-two{
                .items{ padding: 25px 0 25px;        }

            }
        }
    /*END practical*/
}
@media screen and (max-width: 320px){

}